body {
    background-color: grey;
}

.container{
    margin: 40px 8%;
    background-color: #fff;
    padding: 10px;
}

.form-row {
    display: flex;
}

.form-row label {
    flex:1;
    text-align: center;
}

.form-row input {
    flex:1;
}

.column-layout {
    display:flex;
}

.column-layout>*{
    padding:10px;
}

.main-column {
    flex:3;
    order: 2;
}

.sidebar-one{
    flex:1;
    order:3;
}

.sidebar-two{
    flex:1;
    order: 1;
}

.call-out-container {
    margin: 10px 8%;
    display: flex;
    justify-content: space-between;
}

.call-out {
    padding:10px;
    flex-basis: 30%;
    box-shadow:3px 0 17px 4px rgba(0, 0, 0, 0.8);
}

.call-out:nth-child(1){
    background-color: aqua;
    z-index: 3;
}
.call-out:nth-child(2){
    background-color: antiquewhite;
    z-index: 2;
}
.call-out:nth-child(3){
    background-color: aquamarine;
    z-index: 1;
}

